---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import filler from "../assets/images/filler.png";
import stepbystep from "../assets/images/stepbystep.svg"
import stepbystepmobile from "../assets/images/stepbystepmobile.svg"
import Anmeldelser from "../components/Anmeldelser.astro";
import Card from "../components/Card.astro";
import Abonnementcard from "../components/Abonnementcard.astro";


---
<MainLayout title="Vinabonnement">
	<article class="mx-auto">

															    <!-- VINABONNEMENTER DISPLAY -->
<section class="">
  <div class="mx-auto">

    <h1 class="text-3xl md:text-4xl font-bold">
      VINABONNEMENT
    </h1>

    <!-- CARDS -->
  <section class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 gap-4">
    <!-- 1 Card -->
    <div class="card group" data-card="1">
      <Abonnementcard
        cardimage="abonnement1.png"
        cardimagealt="flasker"
        navn="Rødvinskasse"
      ></Abonnementcard>
    </div>

    <!-- 2 Card -->
    <div class="card group" data-card="2">
      <Abonnementcard
        cardimage="abonnement2.png"
        cardimagealt="Vinflaske"
        navn="Hvidvinskasse"

      ></Abonnementcard>
    </div>

    <!-- 3 Card -->
    <div class="card group" data-card="3">
      <Abonnementcard
        cardimage="abonnement3.png"
        cardimagealt="Vinflaske"
        navn="Mixedkasse"
      ></Abonnementcard>
    </div>

    </div>
  </section>
</section>

                                                               <!-- Abonnement beskrivelse-->
  <!-- Dynamisk section  -->
  <section id="dynamicContent" class="bg-red-700 text-white py-8 px-8 hidden md:block">
    <div class="mx-auto grid grid-cols-1 md:grid-cols-5 gap-8">
      <!-- Venstre Content -->
      <div class="md:col-span-3">
        <h3 id="contentTitle" class="text-3xl md:text-4xl leading-tight">
    Denne måneds rødvinskasse
        </h3>
          <p id="contentDescription" class="text-mmb md:text-l leading-relaxed">
Tag på en smagsrejse med fire nøje udvalgte rødvine fra hele verden. Oplev frugtig Syrah fra Rhône og elegant Tempranillo fra Spanien, fyldig Touriga Nacional fra Portugal og klassisk Pinotage fra Sydafrika. Rødvinskassen er perfekt til vinsmagning eller som en eksklusiv tilføjelse til din vinreol!        </p>
    
        <div class="mt-4">
          <Button>Køb nu</Button>
        </div>
      </div>

      <!-- Højre Content -->
      <div class=" md:col-start-5 md:col-span-3">
        <h4>Detajler</h4>
        <p class="text-smb md:text-m">Antal vine pr. kasse: 8 stk. <br>
Pris: 599 DKK (alt inklusivt) <br>
Leveringsdag: Sidste torsdag i måneden </p>
      </div>

    </div>
  </section>

                              <!-- Sektion: Sådan Fungerer Det -->
<section class=" text-black py-16 px-8">
  <div class="mx-auto grid md:grid-cols-2">
    <!-- Overskrift -->
     <div>
    <h2 class="text-2xl md:text-4xl font-bold uppercase mb-4">SÅDAN FUNGERER DET</h2>  <p class="text-mmb md:text-m">
      Vores vinabonnementskoncept er simpelt: Bestil din fortrukne vinkasse og få den leveret til døren fast hver måned. 
      Ønsker du at pause eller afmelde dit abonnement, skal du blot gøre det senest d. 15. i måneden her på hjemmesiden.
    </p>
    </div>
  </div>
          <img class="hidden md:block md:object-cover md:w-full md:h-full" src={stepbystep.src} alt="">
                    <img class="block md:hidden md:object-cover md:w-full md:h-full" src={stepbystepmobile.src} alt="">



  </div>
</section> 


															    <!--  ANMELDELSER -->

<section>
  <Anmeldelser></Anmeldelser>
</section>


<script>
  // Variabler
  const cards = document.querySelectorAll(".card");
  const contentTitle = document.getElementById("contentTitle");
  const contentDescription = document.getElementById("contentDescription");

  // Content Data (til Cards)
  const contentData = [
    {
      title: "Rødvinskasse",
      description:
        "Vores RødvinTag på en smagsrejse med fire nøje udvalgte rødvine fra hele verden. Oplev frugtig Syrah fra Rhône og elegant Tempranillo fra Spanien, fyldig Touriga Nacional fra Portugal og klassisk Pinotage fra Sydafrika. Rødvinskassen er perfekt til vinsmagning eller som en eksklusiv tilføjelse til din vinreol!skasse giver dig en nøje udvalgt samling af de bedste røde vine fra hele verden.",
    },
    {
      title: "Hvidvinskasse",
      description:
        "Udforsk en verden af smag med fire unikke hvidvine fra forskellige hjørner af kloden. Nyd den livlige Chenin Blanc fra Sydafrikas Coastal Region, den blomstrede Torrontés fra Mendoza i Argentina, den delikate Riesling Spätlese Trocken fra Rheinhessen i Tyskland og den friske Verdejo fra Spaniens DO La Mancha. Denne hvidvinskasse er ideel til en smagfuld oplevelse eller som et eksklusivt indslag på din vinreol!",
    },
    {
      title: "Mixedkasse",
      description:
        "Tag på en smagsrejse med otte udsøgte vine fra hele verden. Nyd frugtig Syrah, elegant Tempranillo, fyldig Touriga Nacional og klassisk Pinotage blandt rødvinene. Fra hvidvinsudvalget venter livlig Chenin Blanc, aromatisk Torrontés, delikat Riesling og sprød Verdejo. En oplagt mulighed for at udforske nye smagsoplevelser eller tilføje et sofistikeret touch til din vinreol!",
    },
  ];

  // Tilføj hover listeners til hvert card
cards.forEach((card) => {
  const cardElement = card as HTMLElement; // Typecast til HTMLElement
  cardElement.addEventListener("mouseenter", () => {
    const cardIndex = Number(cardElement.dataset.card) - 1; // Hent kortets indeks

    // Opdater dynamisk indhold
    contentTitle.textContent = contentData[cardIndex].title;
    contentDescription.textContent = contentData[cardIndex].description;
  });
});
</script>



	</article>
</MainLayout>