---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import thumbsup from "../assets/images/thumbsup.png";
import betaltegning from "../assets/images/betaltegning.svg";
import step3 from "../assets/images/3_3.svg";
---
<MainLayout title="Step 3/3">

<!-- Købsflow Side -->
<section class="text-black">
  <div class="grid grid-cols-1 md:grid-cols-6 mx-auto">
    <!-- Venstre Illustration -->
    <div class="hidden md:block md:col-span-2 items-center">
      <div class="relative h-full border-r border-black">
        <!-- Illustration -->
        <img class="md:object-cover w-full h-auto" src={step3.src} alt="Vinflakse, og vinglas" />
      </div>
    </div>

    <!-- Højre Indhold -->
    <div class="md:col-span-4 my-4 md:mx-16 lg:mx-24 xl:mx-32 md:my-12 flex justify-center items-center min-h-screen">
      <div class="border border-black p-6 md:p-12 inline-block w-full">

            <!-- Knap -->
  <div class=" mr-[22rem] md:mr-[42rem] md:mb-5">
         <a href="javascript:history.back()">
            <Button variant="back"></Button>
          </a>
  </div>

        <!-- Titel -->
        <div class="mb-6 flex justify-between items-center">
          <h3>ADRESSE</h3>
          <p class="text-mmb md:text-m">Trin 3/3</p>
        </div>

        <!-- Formular -->
        <form>
          <!-- Adresse -->
          <div class="mb-6 text-left">
            <label for="address" class="block text-mmb md:text-m mb-2">Adresse</label>
            <input
              type="text"
              id="address"
              placeholder="Indtast din adresse..."
              class="bg-creamywhite w-full border border-brown p-3 focus:outline-none focus:ring-2 focus:brown"
            />
          </div>

          <!-- Postnummer -->
          <div class="mb-6 text-left">
            <label for="zip" class="block text-mmb md:text-m mb-2">Postnummer</label>
            <input
              type="number"
              id="zip"
              placeholder="Indtast dit postnummer"
              class="bg-creamywhite w-full border border-brown p-3 focus:outline-none focus:ring-2 focus:brown"
            />
          </div>

          <!-- By -->
          <div class="mb-6 text-left">
            <label for="city" class="block text-mmb md:text-m mb-2">By</label>
            <input
              type="text"
              id="city"
              placeholder="Indtast din by..."
              class="bg-creamywhite w-full border border-brown p-3 focus:outline-none focus:ring-2 focus:brown"
            />
          </div>

          <!-- Checkbox 1 -->
          <div class="flex items-start mb-4">
            <input
              type="checkbox"
              id="confirmInfo"
              class=" bg-creamywhite mt-1 w-5 h-5 text-brown border-brown focus:brown"
            />
            <label for="confirmInfo" class="text-smb md:text-s ml-3">
              Jeg har sikret mig at ovenstående information er 100% korrekte.
            </label>
          </div>

          <!-- Checkbox 2 -->
          <div class="flex items-start mb-8">
            <input
              type="checkbox"
              id="privacyPolicy"
              class="bg-creamywhite mt-1 w-5 h-5 text-red-700 border-gray-300 focus:brown"
            />
            <label for="privacyPolicy" class="text-smb md:text-s ml-3">
              Jeg har læst jeres privatpolitik og generelle bestemmelser og er indforstået med begge.
            </label>
          </div>
        </form>
        <!-- Knapper -->
          <div class="flex justify-center gap-4">
            <!-- Tilbage Knap -->
           <div class="flex justify-center gap-4 mt-8">
  

            <!-- Næste Knap -->
            <a href="/tak">
              <Button>Næste</Button>
            </a>
          </div>
      </div>
    </div>
  </div>
</section>

</MainLayout>