---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import thumbsup from "../assets/images/thumbsup.png";
import betaltegning from "../assets/images/betaltegning.svg";
---
<MainLayout title="Titel">

<!-- Købsflow Side -->
<section class="text-black px-8">
  <div class="grid grid-cols-1 md:grid-cols-6 mx-auto">
    <!-- Venstre Illustration -->
    <div class="hidden md:block md:col-span-2 items-center	">
      <div class="relative h-full">
        <!-- Illustration -->
    <img class="md:object-cover :w-full h-auto" src={betaltegning.src} alt="kasse og vin">
      </div>
    </div>

    <!-- Højre Indhold -->
    <div class="md:col-span-4 border border-black my-4 md:mx-16 lg:mx-24 xl:mx-32 md:my-12">

      <!-- Titel -->
      <h2 class="texl-xl  md:text-3xl font-bold text-red-700 mx-4 my-3">KONTAKTOPLYSNINGER <span class=" text-xs sm:text-sm text-black float-right">Trin 2/3</span></h2>

      <!-- Produktliste -->
      <div class="border-t border-black divide-y">
        <!-- Højre Formular -->
    <div class="md:col-span-3">
     

      <!-- Formular -->
      <form>
        <!-- Fulde Navn -->
        <div class="mx-4 my-3">
          <label for="fullName" class="block text-gray-700 font-medium mb-2">Fulde navn</label>
          <input
            type="text"
            id="fullName"
            placeholder="Indtast dit fulde navn..."
            class="w-full border border-black  p-3 focus:outline-none focus:ring-2 focus:ring-red-500"
          />
        </div>

        <!-- E-mail -->
        <div class="mx-4 my-3">
          <label for="email" class="block text-gray-700 font-medium mb-2">E-mail</label>
          <input
            type="email"
            id="email"
            placeholder="Indtast din email-adresse..."
            class="w-full border border-black  p-3 focus:outline-none focus:ring-2 focus:ring-red-500"
          />
        </div>

        <!-- Telefonnummer -->
        <div class="mx-4 my-3">
          <label for="phone" class="block text-gray-700 font-medium mb-2">Telefonnummer</label>
          <input
            type="tel"
            id="phone"
            placeholder="Indtast dit telefon nummer..."
            class="w-full border border-black  p-3 focus:outline-none focus:ring-2 focus:ring-red-500"
          />
        </div>

    </div>
	      <!-- Næste Knap -->
      <div class="my-4 md:col-span-2 md:col-start-4 place-self-center">
<Button>Næste</Button>
      </div>
  </div>
</section>


</MainLayout>