---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import thumbsup from "../assets/images/thumbsup.png";
import betaltegning from "../assets/images/betaltegning.svg";
import step2 from "../assets/images/2_3.svg";
---
<MainLayout title="Step 2/3">
<!-- Købsflow Side -->
<section class="text-brown">
  <div class="grid grid-cols-1 md:grid-cols-6 mx-auto">
    <!-- Venstre Illustration -->
    <div class="hidden md:block md:col-span-2 items-center">
      <div class="relative h-full border-r border-brown">
        <!-- Illustration -->
        <img class="md:object-cover w-full h-auto" src={step2.src} alt="Vinflakse, og vinglas" />
      </div>
    </div>

    <!-- Højre Indhold -->
    <div class="md:col-span-4 my-4 md:mx-16 lg:mx-24 xl:mx-32 md:my-12 flex justify-center items-center min-h-screen">
      <div class="border border-brown p-6 md:p-12 inline-block w-full">

        <!-- Titel -->
      
        <div class="mb-6 flex justify-between items-center">
          <h3>KONTAKTOPLYSNINGER</h3>
          <p class="text-mmb md:text-m">Trin 2/3</p>
        </div>
       

        <!-- Formular -->
        <form>
          <!-- Fulde Navn -->
          <div class="mb-6 text-left">
            <label for="fullName" class=" text-mmb md:text-m block mb-2">Fulde navn</label>
            <input
              type="text"
              id="fullName"
              placeholder="Indtast dit fulde navn..."
              class="w-full border border-brown p-3 focus:outline-none focus:ring-2 focus:ring-brown"
            />
          </div>

          <!-- E-mail -->
          <div class="mb-6 text-left">
            <label for="email" class="block text-mmb md:text-m mb-2">E-mail</label>
            <input
              type="email"
              id="email"
              placeholder="Indtast din email-adresse..."
              class="w-full border border-brown p-3 focus:outline-none focus:ring-2 focus:ring-brown"
            />
          </div>

          <!-- Telefonnummer -->
          <div class="mb-8 text-left">
            <label for="phone" class="text-mmb md:text-m block mb-2">Telefonnummer</label>
            <input
              type="tel"
              id="phone"
              placeholder="Indtast dit telefon nummer..."
              class="w-full border border-brown p-3 focus:outline-none focus:ring-2 focus:ring-brown"
            />
          </div>
        </form>
          <!-- Knapper -->
          <div class="flex justify-center gap-4">
            <!-- Tilbage Knap -->
            <a href="/betal">
              <Button variant="secondary"></Button>
            </a>
            <!-- Næste Knap -->
            <a href="/betal3"><Button>Næste</Button></a>
          </div>
          
      </div>
    </div>
  </div>
</section>

</MainLayout>